#google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-box {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
}

.center {
    width: 100%;
}

.button {
    color: #61656A;
    background-color: #F2F2F2;
    padding: 9px 14px;
    border: none;
    border-radius: 4px;
    /* TODO: add margin */
}